@charset "utf-8";
/* 重置 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button { margin: 0; padding: 0; box-sizing:border-box;}
fieldset, img { border: 0 none; }
dl, ul, ol, menu, li { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
input, select, textarea, button, img { vertical-align: middle; -webkit-appearance: none; }
input, button { -webkit-appearance: none; }
button { border: 0 none; background-color: transparent; cursor: pointer; }
body, th, td, input, select, textarea, button,a { font-family:"Microsoft YaHei",Arial,"ArialMT","Helvetica Neue", Helvetica,sans-serif; }
a { text-decoration: none; font-family: "Microsoft YaHei",Arial,"ArialMT","Helvetica Neue", Helvetica,sans-serif; }
a:active, a:hover { text-decoration: none; }
a:focus { outline: none; }
address, caption, cite, code, dfn, em, var { font-style: normal; font-weight: normal; }
caption { display: none }
table { width: 100%; border-collapse: collapse; border-spacing: 0; table-layout: fixed; }
i, em, cite { font-style: normal; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { *zoom:1; }
article, header, nav, section, aside, hgroup, figure, figcaption, footer, dialog { margin: 0; padding: 0; display: block; box-sizing: border-box; -moz-box-sizing: border-box; }
video, audio, source, canvas, embed { display: block; }
button:focus { outline: none; }
.mobileNavC form { font-size:initial; }
input{border: none;outline: none;}
*:not[input] { -webkit-user-select:none; user-select:none; }
* { box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
/*a:hover{color:#BE344E;}*/
/*自定义*/
body{ min-width:720px;  margin: 0 auto;}
.fl{
    float: left;
}
.fr{
    float: right;
}


